.Login-Container{
  display: flex;
  align-items: center;
justify-content: center;
color:white;
}



.Login-Form{
display:flex;
align-items: center;
justify-content: center;
}

.Login-Input{
border:solid black;
border-width: thin;
width:170ppx;
font-size: 12px;

}


.Login-Submit {
    display: flex;
    border: solid black;
    border-width: thin;
    font-size: 14px;
    margin-top: 0px;
    background-color: lemonchiffon;
    height: 20px;
    width: 72px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.Login-Label{
  display: flex;
  font-size: 18px;
  margin-top: 0px;
  justify-content: center;
  align-items: center;
}

.Register-Link{
  margin-top:30px;
  font-size: 20px;
}