.Login-Container{

  display: flex;
  align-items: center;
justify-content: center;
flex-direction: row;
color:white;
width: 15%;
text-decoration: none;
}



.Login-Form{
display:flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

.Login-Input{
border:solid black;
border-width: thin;
width:170ppx;
font-size: 10px;

}


.Login-Submit {
    display: flex;
    border: solid black;
    border-width: thin;
    font-size: 14px;
    margin-top: 0px;
    background-color: lemonchiffon;
    height: 20px;
    width: 72px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.Login-Label{
  display: flex;
  font-size: 18px;
  margin-top: 0px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Register-Link{
 
  font-size: 20px;
}


.Signup-Here{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  width:100%;
  flex-direction: column;
  
}